<% a = Date.today %>
<% b = Date.parse("2019-08-24 00:00:01 +0100") %>
<% c = b-a %>
<% url = "https://api.darksky.net/forecast/1f414016e2b4256a5aabfc167ee11e95/21.28,157.82" %>
<% parsed_data = JSON.parse(open(url).read) %>

<h2>We are <%= c.to_i %> days away!</h2>

<body>
    
    <section>
    The temperature is <%= parsed_data.fetch("currently").fetch("temperature") %>.
    The forecast is <%= parsed_data.fetch("currently").fetch("summary").downcase%>.
    </section>
    
</body>