
<h2> Day 1</h2>

<section>
<h3>What are we doing today?</h3>
<article>
    
    
</article>
</section>

<section>
<h3>What should I bring/wear?</h3>
<article>
    
    
</article>
</section>

<section>
<h3>Whats the weather like?</h3>
<article>
    
    
</article>
</section>

<aside>
    <h4>Tips & reminders for the day!</h4>
</aside>