<% datetime = Date.today.to_s%>

Day 
<% if datetime == Date.parse("July 16 2019").to_s %>
1
<div>
What are we doing today?
</div>


<div>
What should I bring/wear?
</div>

<% else %>
something else

<% end %>