<h2>Full <em>Itinerary</em></h2>

<article></article>
<h3>Day - 1 Flight *drop down button*</h3>




<section>
<h3>Day 2 - Date *drop down button* </h3>


    <h4>Hour-by-hour</h4>
    <table border="1">
        <tbody>
            <tr>
                <td colspan="4">Saturday August 24</td>
            </tr>
            <tr>
                <td>Start Time</td>
                <td>End Time</td>
                <td>Activity</td>
                <td>Location</td>
            </tr>
            <tr>
                <td>8:00am</td>
                <td>8:45am</td>
                <td>Breakfast</td>
                <td>Hotel</td>
            </tr>
            <tr>
                <td>8:45am</td>
                <td>9:00am</td>
                <td>Walk to surf lesson</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>9:00am</td>
                <td>11:00am</td>
                <td>Surf Lesson</td>
                <td>Waikiki Beach</td>
            </tr>
            <tr>
                <td>11:00am</td>
                <td>11:05am</td>
                <td>Walk to Duke's</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>11:05am</td>
                <td>3:00pm</td>
                <td>Lunch & Hanging Out at Duke's</td>
                <td>Duke's Waikiki</td>
            </tr>
            <tr>
                <td>3:00pm</td>
                <td>4:30pm</td>
                <td>Freetime (leader activity breakout)</td>
                <td>Waikiki Beach</td>
            </tr>
            <tr>
                <td>4:30pm</td>
                <td>6:00pm</td>
                <td>Return to hotel, shower, and get comfortable</td>
                <td>Hotel</td>
            </tr>
            <tr>
                <td>6:00pm</td>
                <td>12:00am</td>
                <td>Pizza & Game Night</td>
                <td>Hotel</td>
            </tr>
            
        </tbody>
    </table>
</section>

<section>
    <h4>What do I need this day?</h4>
    <ul>
        <li>
            Sunscreen!
        </li>
        <li>
            Swim suits
        </li>
        <li>
            Flip-flops or other comfortable beach shoes
        </li>
        <li>
            Coverups, gym shorts, shirts - whatever you need to be comfortable at Dukes
        </li>
    </ul>
    
</section>



<h3>Day 2 - Date *drop down button* </h3>


<h4>Hour-by-hour</h4>
    <table border="1">
        <tbody>
            <tr>
                <td colspan="4">Saturday August 24</td>
            </tr>
            <tr>
                <td>Start Time</td>
                <td>End Time</td>
                <td>Activity</td>
                <td>Location</td>
            </tr>
            <tr>
                <td>8:45am</td>
                <td>9:30am</td>
                <td>Breakfast</td>
                <td>Hotel</td>
            </tr>
            <tr>
                <td>9:30am</td>
                <td>9:45am</td>
                <td>Walk to Waikiki Beach Marriot Bus Depot</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>9:45am</td>
                <td>11:15am</td>
                <td>Travel to Kualoa Ranch</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>11:15am</td>
                <td>12:30pm</td>
                <td>Check-in & Lunch at Kualoa Ranch</td>
                <td>Kualoa Ranch</td>
            </tr>
            <tr>
                <td>12:30pm</td>
                <td>2:30pm</td>
                <td>Jungle Expedition Tour</td>
                <td>Kualoa Ranch</td>
            </tr>
            <tr>
                <td>2:30pm</td>
                <td>4:15pm</td>
                <td>Taste of Kualoa Farm</td>
                <td>Kualoa Ranch</td>
            </tr>
            <tr>
                <td>4:15pm</td>
                <td>5:45pm</td>
                <td>Movie Site & Ranch Tour</td>
                <td>Kualoa Ranch</td>
            </tr>
            <tr>
                <td>5:45pm</td>
                <td>7:30pm</td>
                <td>Return to Hotel</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>7:30pm</td>
                <td>8:00pm</td>
                <td>Quick change for dinner</td>
                <td>Hotel</td>
            </tr>
            <tr>
                <td>8:00pm</td>
                <td>10:00pm</td>
                <td>Small Group Dinners</td>
                <td>RESTAURANTS</td>
            </tr>
            <tr>
                <td>10:00pm</td>
                <td>????</td>
                <td>Tiki Bar Crawl</td>
                <td>????</td>
            </tr>
            
        </tbody>
    </table>
    
<section>
    <h4>What do I need this day?</h4>
    <ul>
        <li>
            Sunscreen!
        </li>
        <li>
            UPDATE
        </li>
    </ul>
    
</section>    


<h3>Day 3 - Date *drop down button* </h3>


<h4>Hour-by-hour</h4>
    <table border="1">
        <tbody>
            <tr>
                <td colspan="4">Saturday August 24</td>
            </tr>
            <tr>
                <td>Start Time</td>
                <td>End Time</td>
                <td>Activity</td>
                <td>Location</td>
            </tr>
            <tr>
                <td>9:00am</td>
                <td>11:00am</td>
                <td>Breakfast & Hangout Time</td>
                <td>Hotel</td>
            </tr>
            <tr>
                <td>11:00am</td>
                <td>11:30am</td>
                <td>Travel to Airport</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>11:30am</td>
                <td>1:55pm</td>
                <td>Check-in at airport and travel to Kona *Flight info here*</td>
                <td>HNL->KOA</td>
            </tr>
            <tr>
                <td>1:55pm</td>
                <td>3:00pm</td>
                <td>Travel to Royal Kona Resort</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>3:00pm</td>
                <td>6:00pm</td>
                <td>Freetime - *leaders to offer activities*</td>
                <td>Royal Kona Resort (Pool, etc)</td>
            </tr>
            <tr>
                <td>6:00pm</td>
                <td>6:30pm</td>
                <td>Travel to Keahau Bay</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>6:30pm</td>
                <td>8:00pm</td>
                <td>Manta Ray Snorkel Tour</td>
                <td>Keahau Bay</td>
            </tr>
            <tr>
                <td>8:00pm</td>
                <td>9:00pm</td>
                <td>Return to Hotel</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>9:00pm</td>
                <td>????</td>
                <td>Freetime/bars</td>
                <td>Wherevs</td>
            </tr>
        </tbody>
    </table>
<section>
    <h4>What do I need this day?</h4>
    <ul>
        <li>
            Sunscreen!
        </li>
        <li>
            UPDATE
        </li>
    </ul>
    
</section>  


<h3>Day 5 - Date *drop down button* </h3>


<h4>Hour-by-hour</h4>
    <table border="1">
        <tbody>
            <tr>
                <td colspan="4">UPDATE August 24</td>
            </tr>
            <tr>
                <td>Start Time</td>
                <td>End Time</td>
                <td>Activity</td>
                <td>Location</td>
            </tr>
            <tr>
                <td>7:00am</td>
                <td>7:30am</td>
                <td>Walk to Dolphin Snorkel Tour</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>7:30am</td>
                <td>12:30pm</td>
                <td>Dolphin Snorkel Tour</td>
                <td>Boat</td>
            </tr>
            <tr>
                <td>12:30pm</td>
                <td>12:45pm</td>
                <td>Walk to Kona Brewing Co</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>12:45pm</td>
                <td>3:00pm</td>
                <td>Hangout/Drinks @ Kona Brewing</td>
                <td>Kona Brewing Co</td>
            </tr>
            <tr>
                <td>3:00pm</td>
                <td>3:15pm</td>
                <td>Load up luggage and hop on shuttle</td>
                <td>Royal Kona Resort</td>
            </tr>
            <tr>
                <td>3:15pm</td>
                <td>3:45pm</td>
                <td>Travel to airport</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>3:45pm</td>
                <td>6:20pm</td>
                <td>Flight to Honolulu</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>6:20UPDATE HEREpm</td>
                <td>6:20pm</td>
                <td>Flight to Honolulu</td>
                <td>Transit</td>
            </tr>
        </tbody>
    </table>
<section>
    <h4>What do I need this day?</h4>
    <ul>
        <li>
            Sunscreen!
        </li>
        <li>
            UPDATE
        </li>
    </ul>
    
</section> 




</article>