<h2>List of KWestees +Room/Small Group Dinner listings</h2>

<nav>
    <a href="#list" title="KWESTee list">Jump to KWESTee list</a>
    <a href="#rooming" title="Rooming List">Jump to Rooming list</a>
    <a href="#dinners" title="Small Group Dinners">Jump to Dinners list</a>
</nav>

<article>
    <section>
        <h3 id="list">KWESTee List</h3>
      <table border="1">
        <tbody>

            <tr>
                <td>Name</td>
                <td>Role</td>
                <td>Phone Number (if provided)</td>
            </tr>
            <tr>
                <td>Malort Mike</td>
                <td>Leader</td>
                <td>3147994553</td>
            </tr>
            <tr>
                <td>J Jordan</td>
                <td>Leader</td>
                <td>7277417929</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
            <tr>
                <td>etc</td>
                <td>etc</td>
                <td>etc</td>
            </tr>
        </tbody>
    </table>    
    
        
        
    </section>
    
    
<section>
    <h3 id="rooming">Rooming List</h3>
    <table border="1">
        <tbody>
            
            <tr>
                <td>
                    Group
                </td>
                <td>
                    Room #
                </td>
                <td>
                    Hotel
                </td>
            </tr>
            
        </tbody>
        
        
    </table>
    
</section>

<section>
    <h3 id="dinners">Small Group Dinners</h3>
    <h4 id="dinner1">Small Group Dinner 1 - Tiki Night!</h4>
    <table border="1">
        <tbody>
            
            <tr>
                <td>
                    Helen'as Hawaiian
                </td>
                <td>
                    Tiki's Grill and Bar
                </td>
                <td>
                    Hula Grill
                </td>
                <td>
                    Nico's Pier 38
                </td>
            </tr>
            <tr>
                <td>
                    Jordan
                </td>
                <td>
                    Shifali
                </td>
                <td>
                    Mike
                </td>
                <td>
                    Holly
                </td>
            </tr>
            <tr>
                <td>
                    FN001
                </td>
                <td>
                    FN002
                </td>
                <td>
                    MN002
                </td>
                <td>
                    Apara
                </td>
            </tr>
            <tr>
                <td>
                    FN006
                </td>
                <td>
                    MN006
                </td>
                <td>
                    FN0011
                </td>
                <td>
                    MN003
                </td>
            </tr>
            <tr>
                <td>
                    FN008
                </td>
                <td>
                    MC005
                </td>
                <td>
                    FN007
                </td>
                <td>
                    MN007
                </td>
            </tr>
            <tr>
                <td>
                    MN001
                </td>
                <td>
                    FN004
                </td>
                <td>
                    MN004
                </td>
                <td>
                    FN009
                </td>
            </tr>
            <tr>
                <td>
                     
                </td>
                <td>
                    FN0010
                </td>
                <td>
                    FN005
                </td>
                <td>
                    FN003
                </td>
            </tr>
            
        </tbody>
        
        
    </table>
    
    
    <h4 id="dinner2">Small Group Dinner 2 - Chinatown Night!</h4>
    <table border="1">
        <tbody>
            
            <tr>
                <td>
                    Domo Cafe
                </td>
                <td>
                    Lam's Kitchen
                </td>
                <td>
                    Char Hung Sut
                </td>
                <td>
                    Lucky Corner Chinese BBQ
                </td>
            </tr>
            <tr>
                <td>
                    Apara
                </td>
                <td>
                    Mike
                </td>
                <td>
                    Shifali
                </td>
                <td>
                    Holly
                </td>
            </tr>
            <tr>
                <td>
                    FN002
                </td>
                <td>
                    Jordan
                </td>
                <td>
                    FN005
                </td>
                <td>
                    FN003
                </td>
            </tr>
            <tr>
                <td>
                    FN001
                </td>
                <td>
                    FN009
                </td>
                <td>
                    MN006
                </td>
                <td>
                    MN002
                </td>
            </tr>
            <tr>
                <td>
                    FN008
                </td>
                <td>
                    FN004
                </td>
                <td>
                    MN007
                </td>
                <td>
                    FN0010
                </td>
            </tr>
            <tr>
                <td>
                    MN003
                </td>
                <td>
                    MN004
                </td>
                <td>
                    FN006
                </td>
                <td>
                    MC005
                </td>
            </tr>
            <tr>
                <td>
                    MN001
                </td>
                <td>
                     
                </td>
                <td>
                    FN0011
                </td>
                <td>
                    FN007
                </td>
            </tr>
            
        </tbody>
        
        
    </table>
    
</section>
    
    
    
    
    
    
    
    
</article>