<style>
    
    table {
        width:70%;
        margin: 0 auto;
    }
    
    td#day{
        background-color:gray;
        text-align: center;
        font-size:20px;
    }
    
    a{
        color:white;
    }
    
</style>

<h2>KWESTee Information</h2>

<div>
    <div class="row">
        <div class="col-sm-3">
    <a href="#list" title="KWESTee list">Jump to KWESTee list</a>
    </div>
    <div class="col-sm-3">
    <a href="#rooming" title="Rooming List">Jump to Rooming list</a>
    </div>
    
    <div class="col-sm-3">
    <a href="#dinners" title="Small Group Dinners">Jump to Dinners list</a>
    </div>
    
    <div class="col-md">
        <a href="/new_guess_form">Submit big reveal guess!</a>
    </div>
    </div>

</div>



<article>
    <section>
        <h3 id="list">KWESTee List</h3>
      <table border="1" class="table-hover">
        <tbody>

            <tr>
                <td id="day">Name</td>
                <td id="day">Role</td>
                <td id="day" style="text-align:right;">Phone Number
                </td>
            </tr>
            <tr>
                <td>Malort Mike</td>
                <td>Leader</td>
                <td style="text-align:right;">3147994553</td>
            </tr>
            <tr>
                <td>Jamming Jordan</td>
                <td>Leader</td>
                <td style="text-align:right;">7277417929</td>
            </tr>
            <tr>
                <td>Shoutout Shifali</td>
                <td>Leader</td>
                <td style="text-align:right;">6144321658</td>
            </tr>
            <tr>
                <td>Humuhumunukunukuapua'a Holly</td>
                <td>Leader</td>
                <td style="text-align:right;">2402102071</td>
            </tr>
            <tr>
                <td>Animated Apara</td>
                <td>Leader</td>
                <td style="text-align:right;">2247148204</td>
            </tr>
            <tr>
                <td>Francisco</td>
                <td colspan="2">KWESTee</td>
            </tr>
            <tr>
                <td>Zoe</td>
                <td colspan="2">KWESTee</td>
            </tr>
            <tr>
                <td>Maria</td>
                <td colspan="2">KWESTee</td>
            </tr>
            <tr>
                <td>Sam</td>
                <td colspan="2">KWESTee</td>
            </tr>
            <tr>
                <td>Jan</td>
                <td colspan="2">KWESTee</td>
            </tr>
            <tr>
                <td>Ryan</td>
                <td colspan="2">KWESTee</td>
            </tr>
            <tr>
                <td>Vini</td>
                <td colspan="2">KWESTee</td>
            </tr>
            <tr>
                <td>Yuval</td>
                <td colspan="2">KWESTee</td>
            </tr>
            <tr>
                <td>Bruna</td>
                <td colspan="2">KWESTee</td>
            </tr>
            <tr>
                <td>Eskor</td>
                <td colspan="2">KWESTee</td>
            </tr>
            <tr>
                <td>Margalit</td>
                <td colspan="2">KWESTee</td>
            </tr>
            <tr>
                <td>Jamie</td>               
                <td colspan="2">KWESTee</td>
            </tr>
            <tr>
                <td>Kelsey</td>                
                <td colspan="2">KWESTee</td>
            </tr>
            <tr>
                <td>Nofar</td>
                <td colspan="2">KWESTee</td>
            </tr>
            <tr>
                <td>Anik</td>
                <td colspan="2">KWESTee</td>
            </tr>
            <tr>
                <td>Apurva</td>
                <td colspan="2">KWESTee</td>
            </tr>
            <tr>
                <td>Sanjana</td>
                <td colspan="2">KWESTee</td>
            </tr>
            <tr>
                <td>Kailin</td>
                <td colspan="2">KWESTee</td>
            </tr>
            <tr>
                <td>Matan</td>
                <td colspan="2">KWESTee</td>
            </tr>
        </tbody>
    </table>    
    
        
        
    </section>
    
    
<section>
    <h3 id="rooming">Rooming List</h3>
    <table border="1" class="table-hover">
        <tbody>
            
            <tr>
                <td id="day">
                    Room Number
                </td>
                <td id="day">
                    Roomie #1
                </td>
                <td id="day">
                    Roomie #2
                </td>
                <td id="day">
                    Roomie #3 (if a 3-bed suite)
                </td>

            </tr>
            
            <tr>
                <td>
                    1
                </td>
                <td>
                    Magralit
                </td>
                <td>
                    Yuval
                </td>
                <td>
                    
                </td>
            </tr>

            <tr>
                <td>
                    2
                </td>
                <td>
                    Nofar
                </td>
                <td>
                    Matan
                </td>
                <td>
                    
                </td>
            </tr>

            <tr>
                <td>
                    3
                </td>
                <td>
                    Bruna
                </td>
                <td>
                    Vini
                </td>
                <td>
                    
                </td>
            </tr>

            <tr>
                <td>
                    4
                </td>
                <td>
                    Sam
                </td>
                <td>
                    Maria
                </td>
                <td>
                    Jan
                </td>
            </tr>

            <tr>
                <td>
                    5
                </td>
                <td>
                    Sanjana
                </td>
                <td>
                    Jamie
                </td>
                <td>
                    Kelsey
                </td>
            </tr>
            <tr>
                <td>
                    6
                </td>
                <td>
                    Kailin
                </td>
                <td>
                    Ningjing
                </td>
                <td>
                    Apurva
                </td>
            </tr>
            <tr>
                <td>
                    7
                </td>
                <td>
                    Eskor
                </td>
                <td>
                    Francisco
                </td>
                <td>
                    
                </td>
            </tr>
            <tr>
                <td>
                    8
                </td>
                <td>
                    Anik
                </td>
                <td>
                    Ryan
                </td>
                <td>
                    
                </td>
            </tr>
            <tr>
                <td>
                    9 - MALE LEADER ROOM
                </td>
                <td>
                    Mike
                </td>
                <td>
                    Jordan
                </td>
                <td>
                    
                </td>
            </tr>
            <tr>
                <td>
                    10 - FEMALE LEADER ROOM
                </td>
                <td>
                    Holly
                </td>
                <td>
                    Apara
                </td>
                <td>
                    Shifali
                </td>
            </tr>
        </tbody>
        
        
    </table>
    
</section>

<section>
    <h3 id="dinners">Small Group Dinners</h3>
    <h4 id="dinner1">Small Group Dinner 1 - Tiki Night!</h4>
    <table border="1" class="table-hover">
        <tbody>
            
            <tr>
                <td id="day">
                    Da Ono Hawaiian Food
                </td>
                <td id="day">
                    Tiki's Grill and Bar
                </td>
                <td id="day">
                    Cuckoo's Coconuts
                </td>
                <td id="day">
                    Nico's Pier 38
                </td>
            </tr>
            <tr>
                <td>
                    Jordan
                </td>
                <td>
                    Shifali
                </td>
                <td>
                    Mike
                </td>
                <td>
                    Holly
                </td>
            </tr>
            <tr>
                <td>
                    Sam
                </td>
                <td>
                    Jamie
                </td>
                <td>
                    Anik
                </td>
                <td>
                    Apara
                </td>
            </tr>
            <tr>
                <td>
                    Nofar
                </td>
                <td>
                    Yuval
                </td>
                <td>
                    Kelsey
                </td>
                <td>
                    Vini
                </td>
            </tr>
            <tr>
                <td>
                    Bruna
                </td>
                <td>
                    Francisco
                </td>
                <td>
                    Maria
                </td>
                <td>
                    Matan
                </td>
            </tr>
            <tr>
                <td>
                    Eskor
                </td>
                <td>
                    Kailin
                </td>
                <td>
                    Ryan
                </td>
                <td>
                    Zoe
                </td>
            </tr>
            <tr>
                <td>
                   Apurva  
                </td>
                <td>
                    Jan
                </td>
                <td>
                    Margo
                </td>
                <td>
                    Sanjana
                </td>
            </tr>
            
        </tbody>
        
        
    </table>
    
<% a = Date.today %>
<% if a>Date.parse("August 8 2019")%>
    <h4 id="dinner2">Small Group Dinner 2 - Chinatown Night!</h4>
    <table border="1">
        <tbody>
            
            <tr>
                <td>
                    Domo Cafe
                </td>
                <td>
                    Lam's Kitchen
                </td>
                <td>
                    Char Hung Sut
                </td>
                <td>
                    Lucky Corner Chinese BBQ
                </td>
            </tr>
            <tr>
                <td>
                    Apara
                </td>
                <td>
                    Mike
                </td>
                <td>
                    Shifali
                </td>
                <td>
                    Holly
                </td>
            </tr>
            <tr>
                <td>
                    Jamie
                </td>
                <td>
                    Jordan
                </td>
                <td>
                    Margo
                </td>
                <td>
                    Sanjana
                </td>
            </tr>
            <tr>
                <td>
                    Sam
                </td>
                <td>
                    Zoe
                </td>
                <td>
                    Yuval
                </td>
                <td>
                    Anik
                </td>
            </tr>
            <tr>
                <td>
                    Bruna
                </td>
                <td>
                    Kailin
                </td>
                <td>
                    Matan
                </td>
                <td>
                    Jan
                </td>
            </tr>
            <tr>
                <td>
                    Vini
                </td>
                <td>
                    Ryan
                </td>
                <td>
                    Nofar
                </td>
                <td>
                    Francisco
                </td>
            </tr>
            <tr>
                <td>
                Eskor
                </td>
                <td>
                   Apurva  
                </td>
                <td>
                    Kelsey
                </td>
                <td>
                    Maria
                </td>
            </tr>
            
        </tbody>
        
        
    </table>
 
 <% end %>   
</section>
    
    
    
    
    
    
    
    
</article>