<h2>Packing List</h2>


<section>
<h3>The Basics (probably without saying since you're an adult)</h3>
<u1>
    <li>Underwear</li>
    <li>Socks</li>
    <li>Shirts (REMINDER: *no big reveal rules information on these* ie: don’t show up in your Lebron jersey or Liverpool kit></li>
    <li>Pants/shorts</li>
    <li>Rain/light jacket</li>
    <li>Swimsuit(s) - multiple days in the ocean/pool!</li>
    <li>Shoes (flip-flops + at least one pair thats comfortable for a short hike/exercise</li>
    <li>Toiletries (make sure to keep all liquids under 3oz!)</li>
    <li>SUNSCREEN</li>
    <li>Shadez + sun hat (if u fance)</li>
</u1>
</section>


<section>
<h3>The more (recommended) fun stuff/themes <em>(TO BE UPDATED ONCE WE AGREE ON THEMEZZZ)</em></h3>
<u1>
    <li>TBD</li>
    <li>Hawaii Theme?</li>
    <li>White theme?</li>
</u1>
</section>

<section>
<h3>Others/optionals</h3>
<u1>
    <li><em>Optional</em> Beach Towel - might take up some room but we think it'd be worth it to bring!</li>
    <li>Whatever you need to be comfy on the flight(s)!</li>
    <li>Water bottle</li>
    <li>Camera</li>
    <li>Extra Pedialyte Packets (optional - leaders will have some :) )</li>
    <li>Passport/US Driver's License</li>
    <li>YOUR FUNNEST SELF (<em>NOT OPTIONAL</em>)</li>
</u1>
    
</section>