<style>
    
    a{
        color:lightblue;
        text-decoration:underline;
    }
    
</style>

<h2>Packing List</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-1">
            </div>
        <div class="col-xl-7">
<h3>The Basics (probably without saying since you're an adult)</h3>
<u1>
    <li>CARRY ON SUITCASE <a href="https://www.amazon.com/AmazonBasics-Hardside-Spinner-Luggage-20-Inch/dp/B071VG5N9D/ref=sr_1_1_sspa?crid=2L9QW0RS4N265&keywords=carry+on+luggage&qid=1565368342&s=gateway&sprefix=carry+on%2Caps%2C162&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUE5VUpVU0ZXREZJNkYmZW5jcnlwdGVkSWQ9QTAyMDYxODBMRFVXVFJHVlBUV0kmZW5jcnlwdGVkQWRJZD1BMDY3ODQ0NzE4WFZaSjRRUUtTVEMmd2lkZ2V0TmFtZT1zcF9hdGYmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl">(Amazon has some inexpensive ones!)</a>!!!!! <a href="https://www.youtube.com/watch?v=ljX--MpJzBQ">See this video on how to pack one!</a></li>
    <li>Underwear</li>
    <li>Socks</li>
    <li>Shirts (REMINDER: *no big reveal rules information on these* ie: don’t show up in your Lebron jersey or Liverpool kit></li>
    <li>Pants/shorts</li>
    <li>Rain/light jacket</li>
    <li>Swimsuit(s) - multiple days in the ocean/pool!</li>
    <li>Shoes (flip-flops + at least one pair thats comfortable for a short hike/exercise)</li>
    <li>Toiletries (make sure to keep all liquids under 3oz!)</li>
    <li>SUNSCREEN</li>
    <li>Shadez + sun hat (if u fance)</li>
</u1>

<h3>Others/optionals</h3>
<u1>
    <li><em>Optional</em> Beach Towel - might take up some room but we think it'd be worth it to bring!</li>
    <li>Whatever you need to be comfy on the flight(s)!</li>
    <li>Water bottle</li>
    <li>Camera</li>
    <li>Extra Pedialyte Packets (optional - leaders will have some :) )</li>
    <li>Passport/US Driver's License (100% bring passport if you're international of course!)</li>
    <li>YOUR FUNNEST SELF (<em>NOT OPTIONAL</em>)</li>
</u1>
         </div>
 <div class="col-xl-3">

<aside>
<div class="card" style="max-width: 24rem; background-color: #FCD834;color: gray">
<h3 class="card-titel">Theme nights</h3>
<p class="card-text" style="margin-left:1rem;font-size:18px;">
    Neon Night
    <br>
    Pajamas!
    <br>
    White Out!
    <br>
    Cartoon Characters
    <br>
    Beyond the Sea (dress as a fish, pirate, surfer, etc!)
    <br>
</p>
</div>
</aside>
<div class="xl-1">
    
</div>



</div>


</div>
</div>
