<!DOCTYPE html>
<html>
  <style>
    body {
      background-color: lightblue;
      font-family: Georgia;
      margin: 25px 50px 75px 100px;
    }
  </style>
  <head>
    <title>KWEST Hawaii</title>
    <%= csrf_meta_tags %>
    <meta charset = "utf-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>

  <nav class="navbar navbar-light bg-light">
    <h1><a href="/">
      Home
    </a> </h1>
    
    <h1><a href="/kwestees">
      KWESTEEs & Groups
    </a></a></h1>
    
    <h1><a href="/itinerary">
      Full Itinerary
    </a></a></h1>
    
    <h1><a href="/packinglist">
      Packing List
    </a></a></h1>
  </nav>
    
  <%= yield %>
</body>

</html>
